@using Microsoft.JSInterop
@inject IJSRuntime JS

@if (_open)
{
    <div style="position:fixed;inset:0;z-index:1199"
         @onclick="Close"
         @oncontextmenu="Close"
         @oncontextmenu:preventDefault="true" />
    <div class="wander-context-menu" style="position:fixed;left:@_x;top:@_y;">
        @if (Context == CardContext.BuilderMain)
        {
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnMakeCommander.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Filled.Star" Size="Size.Small" Style="color:#c9a84c;" />
                Make Commander
            </div>
            @if (Card!.IsSideboard)
            {
                <div class="wander-ctx-item"
                     @onclick="async () => { Close(); await OnMoveToMain.InvokeAsync(Card); }">
                    <MudIcon Icon="@Icons.Material.Filled.SwapHoriz" Size="Size.Small" />
                    Move to Main Deck
                </div>
            }
            else
            {
                <div class="wander-ctx-item"
                     @onclick="async () => { Close(); await OnMoveToSideboard.InvokeAsync(Card); }">
                    <MudIcon Icon="@Icons.Material.Filled.SwapHoriz" Size="Size.Small" />
                    Move to Sideboard
                </div>
            }
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnIncrement.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Filled.Add" Size="Size.Small" />
                Add One
            </div>
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnDecrement.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Filled.Remove" Size="Size.Small" />
                Remove One
            </div>
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnAddMore.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Filled.AddCircleOutline" Size="Size.Small" />
                Add More
            </div>
            <div class="wander-ctx-item wander-ctx-item-danger"
                 @onclick="async () => { Close(); await OnRemove.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Filled.Close" Size="Size.Small" />
                Remove All
            </div>
            <MudDivider Style="border-color:#3d2d5e; margin:4px 0;" />
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnViewDetails.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Outlined.Info" Size="Size.Small" />
                View Details
            </div>
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnSwitchPrinting.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Filled.Layers" Size="Size.Small" />
                Switch Printing
            </div>
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnSetAsImage.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Filled.Wallpaper" Size="Size.Small" />
                Set as Deck Image
            </div>
        }
        else if (Context == CardContext.BuilderCommander)
        {
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnViewDetails.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Outlined.Info" Size="Size.Small" />
                View Details
            </div>
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnSwitchPrinting.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Filled.Layers" Size="Size.Small" />
                Switch Printing
            </div>
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnSetAsImage.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Filled.Wallpaper" Size="Size.Small" />
                Set as Deck Image
            </div>
            <div class="wander-ctx-item wander-ctx-item-danger"
                 @onclick="async () => { Close(); await OnRemove.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Filled.Close" Size="Size.Small" />
                Remove from Deck
            </div>
        }
        else if (Context == CardContext.BuilderSearch)
        {
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnAddToDeck.InvokeAsync(); }">
                <MudIcon Icon="@Icons.Material.Filled.Add" Size="Size.Small" />
                Add to Deck
            </div>
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnAddToSideboard.InvokeAsync(); }">
                <MudIcon Icon="@Icons.Material.Filled.SwapHoriz" Size="Size.Small" />
                Add to Sideboard
            </div>
            @if (SearchCard!.TypeLine.Contains("Legendary", StringComparison.OrdinalIgnoreCase))
            {
                <div class="wander-ctx-item"
                     @onclick="async () => { Close(); await OnAddAsCommander.InvokeAsync(); }">
                    <MudIcon Icon="@Icons.Material.Filled.Star" Size="Size.Small" Style="color:#c9a84c;" />
                    Add as Commander
                </div>
            }
        }
        else if (Context == CardContext.Viewer)
        {
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnOpenScryfall.InvokeAsync(); }">
                <MudIcon Icon="@Icons.Material.Filled.OpenInNew" Size="Size.Small" />
                Open on Scryfall
            </div>
            <div class="wander-ctx-item"
                 @onclick="async () => { Close(); await OnViewDetails.InvokeAsync(Card); }">
                <MudIcon Icon="@Icons.Material.Outlined.Info" Size="Size.Small" />
                View Details
            </div>
        }
        <div class="wander-ctx-item" @onclick="CopyName">
            <MudIcon Icon="@Icons.Material.Filled.ContentCopy" Size="Size.Small" />
            Copy Card Name
        </div>
    </div>
}
<div @oncontextmenu="Open"
     @oncontextmenu:preventDefault="true"
     class="card-row-activator">
    @ChildContent
</div>

@code {
    bool _open;
    string _x = "0px", _y = "0px";

    void Open(MouseEventArgs e)
    {
        _x = $"{e.ClientX}px";
        _y = $"{e.ClientY}px";
        _open = true;
    }

    void Close() => _open = false;

    async Task CopyName()
    {
        Close();
        var name = Card?.CardName ?? SearchCard?.Name ?? "";
        await JS.InvokeVoidAsync("copyToClipboard", name);
    }

    [Parameter] public CardContext Context { get; set; }
    [Parameter] public DeckCardDetail? Card { get; set; }
    [Parameter] public CardSearchResult? SearchCard { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<DeckCardDetail> OnMakeCommander { get; set; }
    [Parameter] public EventCallback<DeckCardDetail> OnMoveToSideboard { get; set; }
    [Parameter] public EventCallback<DeckCardDetail> OnMoveToMain { get; set; }
    [Parameter] public EventCallback<DeckCardDetail> OnIncrement { get; set; }
    [Parameter] public EventCallback<DeckCardDetail> OnDecrement { get; set; }
    [Parameter] public EventCallback<DeckCardDetail> OnAddMore { get; set; }
    [Parameter] public EventCallback<DeckCardDetail> OnRemove { get; set; }
    [Parameter] public EventCallback OnAddToDeck { get; set; }
    [Parameter] public EventCallback OnAddToSideboard { get; set; }
    [Parameter] public EventCallback OnAddAsCommander { get; set; }
    [Parameter] public EventCallback OnOpenScryfall { get; set; }
    [Parameter] public EventCallback<DeckCardDetail> OnViewDetails    { get; set; }
    [Parameter] public EventCallback<DeckCardDetail> OnSwitchPrinting { get; set; }
    [Parameter] public EventCallback<DeckCardDetail> OnSetAsImage     { get; set; }
}
